<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 foot">
                <h4>Site Map</h4>
                <ul class="">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/about.html">About</a></li>

                </ul>
            </div>

            <div class="col-sm-6 foot">
                <h4>Contributers</h4>

                <ul class="">
                    <li><a href="#">Code for Kansas City</a></li>
                </ul>

            </div>

            <div class="col-sm-3 foot">
                <h4>Contact</h4>
                <p>Email</p>

            </div>
        </div>
    </div>
</footer>
