<!DOCTYPE html>
<html>

{% include head.html %}

{% if page.custom_css %}
  {% for stylesheet in page.custom_css %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ stylesheet }}.css" media="screen" type="text/css">
  {% endfor %}
{% endif %}

<body>


    {% include header.html %}

    <div class="container">

            {{ content }}

    </div>

    {% include footer.html %}


</body>
{% include bootstrap-js.html %}

{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{ site.baseurl }}/js/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
{% endif %}
</html>
