@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html { 
  background: url(assets/recycle-bg-edit.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#root {
  background: none;
}
.centerStuff {
  text-align: center;
  margin-top: 35vh;
}
.mainLabel{
  font-size: 2.313em;
  color: #ffffff;
  font-weight: 300;
  margin-top: 10px;
}
.mainInput {
  margin-left: 20px;
  height: 45px;
  width: 500px;
  border-radius: 10px;
  background:rgba(255, 255, 255, 0.8);
}
.redButton{
  background-color: #EF8232;
  color: white;
  font-size: 1.563em; 
  margin: 1px;
  height: 60px;
  width: 300px;
  border-radius: 4px;
  border: none;
  margin-top: 60px;
  font-weight: 300;
}
.menuBar{
  width: 250px;
  position: fixed;
  top: 0;
  height: 100%;
  color: #FFFFCC;
  background-color:#000080;
}